In [11]:
from multiprocessing import Pool
import pandas as pd
import numpy as np
import allel
import pysam
import json
import os
from datetime import datetime
pd.set_option('display.max_columns', None)
from urllib import request
from tqdm import tqdm
from autocnv import settings
from gtfparse import read_gtf

In [12]:
work_dir = settings.BASE_DIR
raw_data_dir = os.path.join(work_dir, 'raw_data')
result_data_dir = os.path.join(work_dir, 'data')
if not os.path.exists(raw_data_dir):
    os.mkdir(raw_data_dir)
if not os.path.exists(result_data_dir):
    os.mkdir(result_data_dir)

# version_date = datetime.today().strftime('%Y-%m-%d')
version_date = '2021-10-28'
version_date_dir = os.path.join(raw_data_dir, version_date)
if not os.path.exists(version_date_dir):
    os.mkdir(version_date_dir)

In [13]:
exon_url = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg19/bigZips/genes/hg19.refGene.gtf.gz'
cyto_band_url = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg19/database/cytoBand.txt.gz'
gene_info_url = 'https://ftp.ncbi.nih.gov/refseq/H_sapiens/Homo_sapiens.gene_info.gz'
ref_gene_url = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg19/database/refGene.txt.gz'
clingen_gene_curation_url = 'https://ftp.clinicalgenome.org/ClinGen_gene_curation_list_GRCh37.tsv'
clingene_region_curation_url = 'https://ftp.clinicalgenome.org/ClinGen_region_curation_list_GRCh37.tsv'
clinvar_url = 'https://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh37/clinvar.vcf.gz'
hi_pred_url = 'https://decipher.sanger.ac.uk/files/downloads/HI_Predictions_Version3.bed.gz'
gnomad_lof_url = 'https://datasetgnomad.blob.core.windows.net/dataset/release/2.1.1/constraint/gnomad.v2.1.1.lof_metrics.by_gene.txt.bgz'
gnomad_control_only_url = 'https://datasetgnomad.blob.core.windows.net/dataset/papers/2019-sv/gnomad_v2.1_sv.controls_only.sites.bed.gz'
hgnc_gene_fam_url = 'ftp://ftp.ebi.ac.uk/pub/databases/genenames/hgnc/csv/genefamily_db_tables/family.csv'
# ori file
exon_ori_file = os.path.join(version_date_dir, 'hg19.refGene.gtf.gz ')
cyto_band_ori_file = os.path.join(version_date_dir, 'cytoBand.txt.gz')
gene_info_ori_file = os.path.join(version_date_dir, 'Homo_sapiens.gene_info.gz')
ref_gene_ori_file = os.path.join(version_date_dir, 'refGene.txt.gz')
clingen_gene_ori_file = os.path.join(version_date_dir, 'clingen_gene_hg19.tsv')
clingen_region_ori_file = os.path.join(version_date_dir, 'clingen_region_hg19.tsv')
clinvar_ori_vcf_file = os.path.join(version_date_dir, 'clinvar.vcf.gz')
hi_pred_ori_file = os.path.join(version_date_dir, 'HI_Predictions_Version3.bed.gz')
gnomad_lof_ori_file = os.path.join(version_date_dir, 'gnomad.v2.1.1.lof_metrics.by_gene.txt.bgz')
gnomad_control_ori_file = os.path.join(version_date_dir, 'gnomad_v2.1_sv.controls_only.sites.bed.gz')
# prep an external omim gene list
omim_gene_list_file = os.path.join(raw_data_dir, 'gene-list-key-lte3.xlsx')
dgv_ori_file = os.path.join(raw_data_dir, 'DGV.GS.March2016.50percent.GainLossSep.Final.hg19.gff3')
# result file

gene_file = os.path.join(result_data_dir, 'gene.sorted.bed')
omim_gene_file = os.path.join(result_data_dir, 'omim-gene.sorted.bed')
clinvar_file = os.path.join(result_data_dir, 'clinvar-pathogenic.sorted.vcf')
decipher_gene_file = os.path.join(result_data_dir, 'decipher-gene.sorted.bed')
dgv_gain_file = os.path.join(result_data_dir, 'dgv-gain.sorted.bed')
dgv_loss_file = os.path.join(result_data_dir, 'dgv-loss.sorted.bed')
func_region_file = os.path.join(result_data_dir, 'func-region.sorted')
gnomad_del_file = os.path.join(result_data_dir, 'gnomad-del.sorted.bed')
gnomad_dup_file = os.path.join(result_data_dir, 'gnomad-dup.sorted.bed')
hi_cds_file = os.path.join(result_data_dir, 'hi-cds.sorted.bed')
hi_exon_file = os.path.join(result_data_dir, 'hi-exon.sorted.bed')
hi_gene_file = os.path.join(result_data_dir, 'hi-gene.sorted.bed')
hi_region_file = os.path.join(result_data_dir, 'hi-region.sorted.bed')
ts_gene_file = os.path.join(result_data_dir, 'ts-gene.sorted.bed')
ts_region_file = os.path.join(result_data_dir, 'ts-region.sorted.bed')
uhi_gene_file = os.path.join(result_data_dir, 'uhi-gene.sorted.bed')
uhi_region_file = os.path.join(result_data_dir, 'uhi-region.sorted.bed')
uts_gene_file = os.path.join(result_data_dir, 'uts-gene.sorted.bed')
uts_region_file = os.path.join(result_data_dir, 'uts-region.sorted.bed')
hgnc_gene_fam_file = os.path.join(version_date_dir, 'family.csv')

In [1]:
# Download require data

if not os.path.exists(exon_ori_file):
    print(f'downloading gene exon file')
    request.urlretrieve(exon_url, exon_ori_file)
    print('done')

if not os.path.exists(cyto_band_ori_file):
    print(f'downloading cytoband conf file to {cyto_band_ori_file}')
    request.urlretrieve(cyto_band_url, cyto_band_ori_file)
    print('done!')

if not os.path.exists(gene_info_ori_file):
    print(f'downloading gene info to {gene_info_ori_file}')
    request.urlretrieve(gene_info_url, gene_info_ori_file)
    print('done!')

if not os.path.exists(ref_gene_ori_file):
    print(f'downloading ref gene to {ref_gene_ori_file}')
    request.urlretrieve(ref_gene_url, ref_gene_ori_file)
    print('done!')

if not os.path.exists(clingen_gene_ori_file):
    print(f'downloading clingen gene list to {clingen_gene_ori_file}')
    request.urlretrieve(clingen_gene_curation_url, clingen_gene_ori_file)
    print('done!')

if not os.path.exists(clingen_region_ori_file):
    print(f'downloading clingen region file to {clingen_region_ori_file}')
    request.urlretrieve(clingene_region_curation_url, clingen_region_ori_file)
    print('done!')

if not os.path.exists(clinvar_ori_vcf_file):
    print(f'downloading clingen region file to {clinvar_ori_vcf_file}')
    request.urlretrieve(clinvar_url, clinvar_ori_vcf_file)
    print('done!')

if not os.path.exists(hi_pred_ori_file):
    print(f'downloading hi prediction file to {hi_pred_ori_file}')
    request.urlretrieve(hi_pred_url, hi_pred_ori_file)
    print('done!')
if not os.path.exists(gnomad_lof_ori_file):
    print(f'downloading pLoF file from GnomAD to {gnomad_lof_ori_file}')
    request.urlretrieve(gnomad_lof_url, gnomad_lof_ori_file)
    print('done!')
if not os.path.exists(gnomad_control_ori_file):
    print(f'downloading gnomad control only file to {gnomad_control_ori_file}')
    request.urlretrieve(gnomad_control_only_url, gnomad_control_ori_file)
    print('done!')

if not os.path.exists(hgnc_gene_fam_file):
    print(f'downloading gene family file to {hgnc_gene_fam_file}')
    request.urlretrieve(hgnc_gene_fam_url, hgnc_gene_fam_file)
    print('done!')

NameError: name 'os' is not defined

In [19]:
cyto_band_df = pd.read_csv(
    cyto_band_ori_file, sep='\t',
    names=['#chrom', 'start', 'end', 'name', 'gieStain']
)
cyto_band_df.to_csv(settings.CYTO_BAND_FILE.strip('.gz'), sep='\t', index=False)

In [20]:
!bgzip -cf {settings.CYTO_BAND_FILE.strip(".gz")} > {settings.CYTO_BAND_FILE}
!tabix -fp bed {settings.CYTO_BAND_FILE}
!rm {settings.CYTO_BAND_FILE.strip(".gz")}

In [11]:
cols = [
    'bin', 'name', 'chrom', 'strand', 'txStart', 'txEnd', 'cdsStart', 'cdsEnd', 'exonCount', 'exonStarts', 'exonEnds',
    'score', 'name2', 'cdsStartStat', 'cdsEndStat', 'ExonFrames']
refgene = pd.read_csv(ref_gene_ori_file, sep='\t', names=cols)
refgene = refgene[~refgene['chrom'].str.match(r'.*fix$')]
refgene['length'] = refgene['cdsEnd'] - refgene['cdsStart']
refgene = refgene.sort_values('length', ascending=False)
refgene = refgene.drop_duplicates('name2', keep='first')

,bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,ExonFrames,length
10573,26,NM_001351365,chr1,+,144146811,146467744,144146846,146466121,93,"144146811,144148789,144149726,144150981,144151...","144147021,144148892,144149941,144151054,144151...",0,NBPF19,cmpl,cmpl,"0,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,...",2319275
10459,26,NM_001278267,chr1,+,144146810,146467744,144158383,146466121,131,"144146810,144148789,144149726,144150981,144151...","144147021,144148892,144149941,144151054,144151...",0,NBPF20,cmpl,cmpl,"-1,-1,-1,-1,-1,-1,-1,-1,0,2,1,2,1,2,1,2,1,2,1,...",2307738
18617,12,NM_000109,chrX,-,31137340,33357505,31140035,33357382,79,"31137340,31144758,31152218,31164407,31165391,3...","31140047,31144790,31152311,31164531,31165635,3...",0,DMD,cmpl,cmpl,"0,1,1,0,2,2,2,2,2,0,2,0,1,2,1,1,2,1,0,0,1,0,2,...",2217347
29979,2,NM_001351274,chr11,-,83166055,85339417,83170860,85337661,27,"83166055,83173044,83177750,83180243,83182668,8...","83170967,83173136,83177860,83180416,83182770,8...",0,DLG2,cmpl,cmpl,"1,2,0,1,1,1,0,2,2,1,0,2,2,2,1,0,1,2,0,0,0,0,0,...",2166801
68033,9,NM_033225,chr8,-,2792882,4852436,2796106,4851938,70,"2792882,2799993,2806820,2807752,2808635,281174...","2796266,2800126,2806908,2807865,2808797,281179...",0,CSMD1,cmpl,cmpl,"2,1,0,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...",2055832

In [12]:
refgene.head()

In [13]:
gene_info = pd.read_csv(gene_info_ori_file, sep='\t')

,#tax_id,GeneID,Symbol,LocusTag,Synonyms,dbXrefs,chromosome,map_location,description,type_of_gene,Symbol_from_nomenclature_authority,Full_name_from_nomenclature_authority,Nomenclature_status,Other_designations,Modification_date,Feature_type
0,9606,1,A1BG,-,A1B|ABG|GAB|HYST2477,MIM:138670|HGNC:HGNC:5|Ensembl:ENSG00000121410,19,19q13.43,alpha-1-B glycoprotein,protein-coding,A1BG,alpha-1-B glycoprotein,O,alpha-1B-glycoprotein|HEL-S-163pA|epididymis s...,20210708,-
1,9606,2,A2M,-,A2MD|CPAMD5|FWP007|S863-7,MIM:103950|HGNC:HGNC:7|Ensembl:ENSG00000175899,12,12p13.31,alpha-2-macroglobulin,protein-coding,A2M,alpha-2-macroglobulin,O,alpha-2-macroglobulin|C3 and PZP-like alpha-2-...,20211009,-
2,9606,3,A2MP1,-,A2MP,HGNC:HGNC:8|Ensembl:ENSG00000256069,12,12p13.31,alpha-2-macroglobulin pseudogene 1,pseudo,A2MP1,alpha-2-macroglobulin pseudogene 1,O,pregnancy-zone protein pseudogene,20210611,-
3,9606,9,NAT1,-,AAC1|MNAT|NAT-1|NATI,MIM:108345|HGNC:HGNC:7645|Ensembl:ENSG00000171428,8,8p22,N-acetyltransferase 1,protein-coding,NAT1,N-acetyltransferase 1,O,arylamine N-acetyltransferase 1|N-acetyltransf...,20210926,-
4,9606,10,NAT2,-,AAC2|NAT-2|PNAT,MIM:612182|HGNC:HGNC:7646|Ensembl:ENSG00000156006,8,8p22,N-acetyltransferase 2,protein-coding,NAT2,N-acetyltransferase 2,O,arylamine N-acetyltransferase 2|N-acetyltransf...,20210926,-

In [14]:
gene_info.head()

In [15]:
refgene_info = refgene.merge(gene_info, left_on='name2', right_on='Symbol')

,bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,ExonFrames,length,#tax_id,GeneID,Symbol,LocusTag,Synonyms,dbXrefs,chromosome,map_location,description,type_of_gene,Symbol_from_nomenclature_authority,Full_name_from_nomenclature_authority,Nomenclature_status,Other_designations,Modification_date,Feature_type
0,26,NM_001351365,chr1,+,144146811,146467744,144146846,146466121,93,"144146811,144148789,144149726,144150981,144151...","144147021,144148892,144149941,144151054,144151...",0,NBPF19,cmpl,cmpl,"0,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,...",2319275,9606,101060226,NBPF19,-,-,MIM:614006|HGNC:HGNC:31999|Ensembl:ENSG0000027...,1,1q21.2,NBPF member 19,protein-coding,NBPF19,NBPF member 19,O,neuroblastoma breakpoint family member 19,20210912,-
1,26,NM_001278267,chr1,+,144146810,146467744,144158383,146466121,131,"144146810,144148789,144149726,144150981,144151...","144147021,144148892,144149941,144151054,144151...",0,NBPF20,cmpl,cmpl,"-1,-1,-1,-1,-1,-1,-1,-1,0,2,1,2,1,2,1,2,1,2,1,...",2307738,9606,100288142,NBPF20,-,-,MIM:614007|HGNC:HGNC:32000|Ensembl:ENSG0000016...,1,1q21.1,NBPF member 20,protein-coding,NBPF20,NBPF member 20,O,neuroblastoma breakpoint family member 20,20210611,-
2,12,NM_000109,chrX,-,31137340,33357505,31140035,33357382,79,"31137340,31144758,31152218,31164407,31165391,3...","31140047,31144790,31152311,31164531,31165635,3...",0,DMD,cmpl,cmpl,"0,1,1,0,2,2,2,2,2,0,2,0,1,2,1,1,2,1,0,0,1,0,2,...",2217347,9606,1756,DMD,-,BMD|CMD3B|DXS142|DXS164|DXS206|DXS230|DXS239|D...,MIM:300377|HGNC:HGNC:2928|Ensembl:ENSG00000198947,X,Xp21.2-p21.1,dystrophin,protein-coding,DMD,dystrophin,O,dystrophin|truncated dystrophin,20211026,-
3,2,NM_001351274,chr11,-,83166055,85339417,83170860,85337661,27,"83166055,83173044,83177750,83180243,83182668,8...","83170967,83173136,83177860,83180416,83182770,8...",0,DLG2,cmpl,cmpl,"1,2,0,1,1,1,0,2,2,1,0,2,2,2,1,0,1,2,0,0,0,0,0,...",2166801,9606,1740,DLG2,-,PPP1R58|PSD-93|PSD93|chapsyn-110,MIM:603583|HGNC:HGNC:2901|Ensembl:ENSG00000150672,11,11q14.1,discs large MAGUK scaffold protein 2,protein-coding,DLG2,discs large MAGUK scaffold protein 2,O,disks large homolog 2|channel-associated prote...,20211016,-
4,9,NM_033225,chr8,-,2792882,4852436,2796106,4851938,70,"2792882,2799993,2806820,2807752,2808635,281174...","2796266,2800126,2806908,2807865,2808797,281179...",0,CSMD1,cmpl,cmpl,"2,1,0,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...",2055832,9606,64478,CSMD1,-,PPP1R24,MIM:608397|HGNC:HGNC:14026|Ensembl:ENSG0000018...,8,8p23.2,CUB and Sushi multiple domains 1,protein-coding,CSMD1,CUB and Sushi multiple domains 1,O,CUB and sushi domain-containing protein 1|prot...,20210919,-

In [16]:
refgene_info.head()

In [17]:
gene_fam = pd.read_csv(hgnc_gene_fam_file, sep=',')
gene_fam = gene_fam[gene_fam['typical_gene'].notna()].rename(columns={'id': 'fam'})
gene_fam_grp = gene_fam.groupby('typical_gene').agg({'fam': set})

In [18]:
gene = refgene_info.loc[
    refgene_info['type_of_gene'] == 'protein-coding',
    ['chrom', 'txStart', 'txEnd', 'GeneID', 'name2', 'name', 'strand']
].sort_values(['chrom', 'txStart', 'txEnd'])

      chrom  txStart   txEnd  GeneID   name2          name strand
18372  chr1    69090   70008   79501   OR4F5  NM_001005484      +
18188  chr1   367658  368597  729759  OR4F29  NM_001005221      +
18185  chr1   621095  622034   81399  OR4F16  NM_001005277      -
9220   chr1   859302  879954  148398  SAMD11  NM_001385641      +
10563  chr1   879582  894636   26155   NOC2L     NM_015658      -

In [19]:
gene.head()

In [20]:
gene.rename(columns={
    'chrom': '#chrom', 'txStart': 'start', 'txEnd': 'end',
    'GeneID': 'gene_id', 'name2': 'symbol', 'name': 'transcript'
}).to_csv(gene_file, index=False, sep='\t')

In [21]:
!bgzip -cf {gene_file} > {gene_file}.gz

In [22]:
!tabix -fp bed {gene_file}.gz

In [23]:
!rm {gene_file}

In [24]:
raw_omim_df = pd.read_excel(omim_gene_list_file)
omim_gene = set(raw_omim_df['gene_symbol'].dropna())
# with open(omim_gene_list_file) as f:
#     omim_gene = set(f.read().split('\n'))

In [25]:
omim_gene = refgene_info.loc[
    refgene_info['name2'].isin(omim_gene),
    ['chrom', 'txStart', 'txEnd', 'GeneID', 'name2', 'name', 'strand']
].sort_values(['chrom', 'txStart', 'txEnd'])

      chrom  txStart    txEnd  GeneID    name2          name strand
18397  chr1   948876   949919    9636    ISG15     NM_005101      +
6532   chr1   955499   991494  375790     AGRN  NM_001305275      +
16101  chr1  1146719  1149533    7293  TNFRSF4     NM_003327      -
17883  chr1  1167616  1170420  126792  B3GALT6     NM_080605      +
11098  chr1  1270657  1284798    1855     DVL1     NM_004421      -

In [26]:
omim_gene.head()

In [27]:
omim_gene.rename(columns={
    'chrom': '#chrom', 'txStart': 'start', 'txEnd': 'end',
    'GeneID': 'gene_id', 'name2': 'symbol', 'name': 'transcript'
}).to_csv(omim_gene_file, index=False, sep='\t')

In [28]:
!bgzip -cf {omim_gene_file} > {omim_gene_file}.gz

In [ ]:
!tabix -fp bed {omim_gene_file}.gz
!rm {omim_gene_file}

In [30]:
curation_gene = pd.read_csv(clingen_gene_ori_file, sep='\t', dtype=str, skiprows=5)

,#Gene Symbol,Gene ID,cytoBand,Genomic Location,Haploinsufficiency Score,Haploinsufficiency Description,Haploinsufficiency PMID1,Haploinsufficiency PMID2,Haploinsufficiency PMID3,Haploinsufficiency PMID4,Haploinsufficiency PMID5,Haploinsufficiency PMID6,Triplosensitivity Score,Triplosensitivity Description,Triplosensitivity PMID1,Triplosensitivity PMID2,Triplosensitivity PMID3,Triplosensitivity PMID4,Triplosensitivity PMID5,Triplosensitivity PMID6,Date Last Evaluated,Loss phenotype OMIM ID,Triplosensitive phenotype OMIM ID
0,A4GALT,53947,22q13.2,chr22:43088121-43117307,30,Gene associated with autosomal recessive pheno...,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-11,111400,NaN
1,AAGAB,79719,15q23,chr15:67493013-67547536,3,Sufficient evidence for dosage pathogenicity,23064416,23000146,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2013-02-28,148600,NaN
2,AARS1,16,16q22.1,chr16:70286297-70323412,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-11,NaN,NaN
3,AARS2,57505,6p21.1,chr6:44266463-44281063,30,Gene associated with autosomal recessive pheno...,NaN,NaN,NaN,NaN,NaN,NaN,Not yet evaluated,Not yet evaluated,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-22,615889,NaN
4,AASS,10157,7q31.32,chr7:121713598-121784344,30,Gene associated with autosomal recessive pheno...,NaN,NaN,NaN,NaN,NaN,NaN,Not yet evaluated,Not yet evaluated,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-22,238700,NaN

In [31]:
hi_genes = set(
    curation_gene.loc[
        curation_gene['Haploinsufficiency Score'] == '3', '#Gene Symbol'
    ]
)

In [32]:
hi_gene = refgene_info.loc[
    refgene_info['name2'].isin(hi_genes),
    ['chrom', 'txStart', 'txEnd', 'GeneID', 'name2', 'name', 'strand']
].sort_values(['chrom', 'txStart', 'txEnd'])

In [33]:
hi_gene.head()

      chrom   txStart     txEnd  GeneID   name2          name strand
51     chr1   6845513   7829766   23261  CAMTA1  NM_001349609      +
6499   chr1  17345220  17380527    6390    SDHB     NM_003000      -
3068   chr1  27022505  27108595    8289  ARID1A     NM_139135      +
14667  chr1  27860755  27930655   27245   AHDC1  NM_001371928      -
7013   chr1  43391025  43424539    6513  SLC2A1     NM_006516      -

In [34]:
hi_gene.rename(columns={
    'chrom': '#chrom', 'txStart': 'start', 'txEnd': 'end',
    'GeneID': 'gene_id', 'name2': 'symbol', 'name': 'transcript'
}).to_csv(hi_gene_file, index=False, sep='\t')

In [35]:
!bgzip -cf {hi_gene_file} > {hi_gene_file}.gz

In [36]:
!tabix -fp bed {hi_gene_file}.gz
!rm {hi_gene_file}

In [37]:
hi_cds = refgene_info.loc[
    (refgene_info['name2'].isin(hi_genes)) & (refgene_info['length'] != 0),
    ['chrom', 'cdsStart', 'cdsEnd', 'GeneID', 'name2', 'name']
].sort_values(['chrom', 'cdsStart', 'cdsEnd'])

In [38]:
hi_cds.head()

      chrom  cdsStart    cdsEnd  GeneID   name2          name
51     chr1   6845590   7826582   23261  CAMTA1  NM_001349609
6499   chr1  17345375  17380514    6390    SDHB     NM_003000
3068   chr1  27022894  27107247    8289  ARID1A     NM_139135
14667  chr1  27873814  27878626   27245   AHDC1  NM_001371928
7013   chr1  43392711  43424322    6513  SLC2A1     NM_006516

In [39]:
hi_cds.rename(columns={
    'chrom': '#chrom', 'cdsStart': 'start', 'cdsEnd': 'end',
    'GeneID': 'gene_id', 'name2': 'symbol', 'name': 'transcript'
}).to_csv(hi_cds_file, index=False, sep='\t')

In [40]:
!bgzip -cf {hi_cds_file} > {hi_cds_file}.gz

In [41]:
!tabix -fp bed {hi_cds_file}.gz
!rm {hi_cds_file}

In [42]:
hi_exons = refgene_info.loc[
    refgene_info['name2'].isin(hi_genes), ['chrom', 'exonStarts', 'exonEnds', 'GeneID', 'name2', 'name', 'strand']
].copy()

In [43]:
hi_exons.head()

,chrom,exonStarts,exonEnds,GeneID,name2,name,strand
2,chrX,"31137340,31144758,31152218,31164407,31165391,3...","31140047,31144790,31152311,31164531,31165635,3...",1756,DMD,NM_000109,-
26,chr7,"69063460,69364271,69583117,69599521,69900737,7...","69064948,69364484,69583219,69599557,69900767,7...",26053,AUTS2,NM_015570,+
31,chrX,"28605562,28807436,29301054,29414374,29417271,2...","28606164,28807542,29301334,29414561,29417425,2...",11141,IL1RAPL1,NM_014271,+
44,chr2,"50145642,50170841,50280408,50282092,50318460,5...","50149389,50170929,50280728,50282182,50318632,5...",9378,NRXN1,NM_001330084,-
51,chr1,"6845513,6880240,6885151,7151363,7309550,752788...","6845635,6880310,6885270,7151431,7309686,752796...",23261,CAMTA1,NM_001349609,+

In [44]:
hi_exons['exonStarts'] = hi_exons['exonStarts'].str.replace(r',$', '')
hi_exons['exonEnds'] = hi_exons['exonEnds'].str.replace(r',$', '')

In [45]:
hi_exons.head()

,chrom,exonStarts,exonEnds,GeneID,name2,name,strand
2,chrX,"31137340,31144758,31152218,31164407,31165391,3...","31140047,31144790,31152311,31164531,31165635,3...",1756,DMD,NM_000109,-
26,chr7,"69063460,69364271,69583117,69599521,69900737,7...","69064948,69364484,69583219,69599557,69900767,7...",26053,AUTS2,NM_015570,+
31,chrX,"28605562,28807436,29301054,29414374,29417271,2...","28606164,28807542,29301334,29414561,29417425,2...",11141,IL1RAPL1,NM_014271,+
44,chr2,"50145642,50170841,50280408,50282092,50318460,5...","50149389,50170929,50280728,50282182,50318632,5...",9378,NRXN1,NM_001330084,-
51,chr1,"6845513,6880240,6885151,7151363,7309550,752788...","6845635,6880310,6885270,7151431,7309686,752796...",23261,CAMTA1,NM_001349609,+

In [46]:
start = hi_exons['exonStarts'].str.split(',').apply(pd.Series).stack().reset_index()
start = start.rename(columns={'level_0': 'row', 0: 'start'})[['row', 'start']]
start['start'] = start['start'].astype(int)
end = hi_exons['exonEnds'].str.split(',').apply(pd.Series).stack().reset_index()
end = end.rename(columns={0: 'end'})['end'].astype(int)
position = start.join(end)

In [47]:
position.head()

   row     start       end
0    2  31137340  31140047
1    2  31144758  31144790
2    2  31152218  31152311
3    2  31164407  31164531
4    2  31165391  31165635

In [48]:
exon = position.merge(
    hi_exons[['chrom', 'GeneID', 'name2', 'name', 'strand']], how='left', left_on='row', right_index=True
)
exon = exon.sort_values(['chrom', 'start', 'end'])

In [49]:
exon.head()

     row    start      end chrom  GeneID   name2          name strand
128   51  6845513  6845635  chr1   23261  CAMTA1  NM_001349609      +
129   51  6880240  6880310  chr1   23261  CAMTA1  NM_001349609      +
130   51  6885151  6885270  chr1   23261  CAMTA1  NM_001349609      +
131   51  7151363  7151431  chr1   23261  CAMTA1  NM_001349609      +
132   51  7309550  7309686  chr1   23261  CAMTA1  NM_001349609      +

In [50]:
exon['+'] = exon.groupby(['name2', 'name'])['start'].rank('first', ascending=True).astype(int)
exon['-'] = exon.groupby(['name2', 'name'])['start'].rank('first', ascending=False).astype(int)

In [51]:
exon.head()

     row    start      end chrom  GeneID   name2          name strand  +   -
128   51  6845513  6845635  chr1   23261  CAMTA1  NM_001349609      +  1  23
129   51  6880240  6880310  chr1   23261  CAMTA1  NM_001349609      +  2  22
130   51  6885151  6885270  chr1   23261  CAMTA1  NM_001349609      +  3  21
131   51  7151363  7151431  chr1   23261  CAMTA1  NM_001349609      +  4  20
132   51  7309550  7309686  chr1   23261  CAMTA1  NM_001349609      +  5  19

In [52]:
exon.tail()

,row,start,end,chrom,GeneID,name2,name,strand,+,-
1520,1195,154227753,154227875,chrX,2157,F8,NM_000132,-,25,2
1521,1195,154250684,154250998,chrX,2157,F8,NM_000132,-,26,1
5081,15481,154487519,154490514,chrX,116442,RAB39B,NM_171998,-,1,2
5082,15481,154493358,154493776,chrX,116442,RAB39B,NM_171998,-,2,1
5130,18757,2654895,2655723,chrY,6736,SRY,NM_003140,-,1,1

In [53]:
exon['exon'] = pd.concat([exon.loc[exon['strand'] == '+', '+'], exon.loc[exon['strand'] == '-', '-']])

In [54]:
exon.head()

,row,start,end,chrom,GeneID,name2,name,strand,+,-,exon
128,51,6845513,6845635,chr1,23261,CAMTA1,NM_001349609,+,1,23,1
129,51,6880240,6880310,chr1,23261,CAMTA1,NM_001349609,+,2,22,2
130,51,6885151,6885270,chr1,23261,CAMTA1,NM_001349609,+,3,21,3
131,51,7151363,7151431,chr1,23261,CAMTA1,NM_001349609,+,4,20,4
132,51,7309550,7309686,chr1,23261,CAMTA1,NM_001349609,+,5,19,5

In [55]:
exon.tail()

,row,start,end,chrom,GeneID,name2,name,strand,+,-,exon
1520,1195,154227753,154227875,chrX,2157,F8,NM_000132,-,25,2,2
1521,1195,154250684,154250998,chrX,2157,F8,NM_000132,-,26,1,1
5081,15481,154487519,154490514,chrX,116442,RAB39B,NM_171998,-,1,2,2
5082,15481,154493358,154493776,chrX,116442,RAB39B,NM_171998,-,2,1,1
5130,18757,2654895,2655723,chrY,6736,SRY,NM_003140,-,1,1,1

In [56]:
exon['last_exon'] = exon.groupby(['name2', 'name'])['exon'].transform('max') == exon['exon']

In [57]:
exon.head()

,row,start,end,chrom,GeneID,name2,name,strand,+,-,exon,last_exon
128,51,6845513,6845635,chr1,23261,CAMTA1,NM_001349609,+,1,23,1,False
129,51,6880240,6880310,chr1,23261,CAMTA1,NM_001349609,+,2,22,2,False
130,51,6885151,6885270,chr1,23261,CAMTA1,NM_001349609,+,3,21,3,False
131,51,7151363,7151431,chr1,23261,CAMTA1,NM_001349609,+,4,20,4,False
132,51,7309550,7309686,chr1,23261,CAMTA1,NM_001349609,+,5,19,5,False

In [58]:
exon.tail()

,row,start,end,chrom,GeneID,name2,name,strand,+,-,exon,last_exon
1520,1195,154227753,154227875,chrX,2157,F8,NM_000132,-,25,2,2,False
1521,1195,154250684,154250998,chrX,2157,F8,NM_000132,-,26,1,1,False
5081,15481,154487519,154490514,chrX,116442,RAB39B,NM_171998,-,1,2,2,True
5082,15481,154493358,154493776,chrX,116442,RAB39B,NM_171998,-,2,1,1,False
5130,18757,2654895,2655723,chrY,6736,SRY,NM_003140,-,1,1,1,True

In [59]:
exon = exon[
    ['chrom', 'start', 'end', 'GeneID', 'name2', 'name', 'exon', 'last_exon']
].sort_values(['chrom', 'start', 'end'])

In [60]:
exon.head()

    chrom    start      end  GeneID   name2          name  exon  last_exon
128  chr1  6845513  6845635   23261  CAMTA1  NM_001349609     1      False
129  chr1  6880240  6880310   23261  CAMTA1  NM_001349609     2      False
130  chr1  6885151  6885270   23261  CAMTA1  NM_001349609     3      False
131  chr1  7151363  7151431   23261  CAMTA1  NM_001349609     4      False
132  chr1  7309550  7309686   23261  CAMTA1  NM_001349609     5      False

In [61]:
exon.rename(columns={
    'chrom': '#chrom',
    'GeneID': 'gene_id', 'name2': 'symbol', 'name': 'transcript'
}).to_csv(hi_exon_file, index=False, sep='\t')

In [62]:
!bgzip -cf {hi_exon_file} > {hi_exon_file}.gz

In [63]:
!tabix -fp bed {hi_exon_file}.gz
!rm {hi_exon_file}

In [64]:
last_exon = exon[exon['last_exon']]

In [65]:
last_exon.head()

     chrom     start       end  GeneID   name2          name  exon  last_exon
150   chr1   7826518   7829766   23261  CAMTA1  NM_001349609    23       True
3882  chr1  17345220  17345453    6390    SDHB     NM_003000     8       True
2565  chr1  27105513  27108595    8289  ARID1A     NM_139135    20       True
5033  chr1  27860755  27861427   27245   AHDC1  NM_001371928     9       True
4072  chr1  43391025  43392912    6513  SLC2A1     NM_006516    10       True

In [66]:
last_exon_region = last_exon['chrom'] + ':' + last_exon['start'].astype(str) + '-' + last_exon['end'].astype(str)
last_exon_region = last_exon_region.str.replace('chr', '')

In [67]:
last_exon_region.head()

150       1:7826518-7829766
3882    1:17345220-17345453
2565    1:27105513-27108595
5033    1:27860755-27861427
4072    1:43391025-43392912
dtype: object

In [68]:
need_fields = [
    'variants/CHROM', 'variants/POS', 'variants/REF', 'variants/ALT',
    'variants/AF_ESP', 'variants/AF_EXAC', 'variants/AF_TGP', 'variants/CLNSIG'
]

In [69]:
!tabix -f {clinvar_ori_vcf_file}

In [70]:

with open(clinvar_file, 'w') as f:
    headers = allel.read_vcf_headers(clinvar_ori_vcf_file)
    f.write(''.join(headers.headers))
    
    def fetch_variants(region):
        fields, samples, headers, it = allel.iter_vcf_chunks(
            clinvar_ori_vcf_file, fields=need_fields, alt_number=1, region=region
        )
        for variants, *_ in it:
            esp_filter = np.isnan(variants['variants/AF_ESP'])
            esp_filter[~esp_filter] |= variants['variants/AF_ESP'][~esp_filter] < 0.01

            exac_filter = np.isnan(variants['variants/AF_EXAC'])
            exac_filter[~exac_filter] |= variants['variants/AF_EXAC'][~exac_filter] < 0.01

            tgp_filter = np.isnan(variants['variants/AF_TGP'])
            tgp_filter[~tgp_filter] |= variants['variants/AF_TGP'][~tgp_filter] < 0.01

            pathogenic_filter = np.isin(
                variants['variants/CLNSIG'], ['Likely_pathogenic', 'Pathogenic', 'Pathogenic/Likely_pathogenic']
            )

            af_filter = esp_filter & exac_filter & tgp_filter & pathogenic_filter

            filtered_variants = {k: v[af_filter] for k, v in variants.items()}

            filtered_variants['variants/CHROM'] = 'chr' + filtered_variants['variants/CHROM']

            return allel.normalize_callset(filtered_variants)
    
    with Pool(processes=32) as pool:
        variants = pool.map(fetch_variants, last_exon_region)
    
    for names, callset in tqdm(filter(lambda x: x is not None, variants)):
        allel.write_vcf_data(f, names, callset, None, {field: np.nan for field in need_fields})

299it [00:00, 5543.95it/s]

In [71]:
!sed -i '' 's/AF_.\+=nan;//' {clinvar_file}

sed: can't read s/AF_.\+=nan;//: No such file or directory

In [72]:
!bgzip -cf {clinvar_file} > {clinvar_file}.gz

In [73]:
!tabix -fp vcf {clinvar_file}.gz
!rm {clinvar_file}

In [74]:
uhi_genes = set(
    curation_gene.loc[curation_gene['Haploinsufficiency Score'] == '40', '#Gene Symbol']
)

In [75]:
uhi_gene = refgene_info.loc[
    refgene_info['name2'].isin(uhi_genes),
    ['chrom', 'txStart', 'txEnd', 'GeneID', 'name2', 'name', 'strand']
].sort_values(['chrom', 'txStart', 'txEnd'])

In [76]:
uhi_gene.head()

       chrom    txStart      txEnd  GeneID    name2          name strand
5019    chr1   32117864   32169618    1307  COL16A1     NM_001856      -
17600   chr1   40974390   40981722   64789     EXO5  NM_001346956      +
8348    chr1   55505220   55530525  255738    PCSK9     NM_174936      +
8405    chr1  171154438  171181824    2327     FMO2     NM_001460      +
9978   chr10   74870212   74891581   25961   NUDT13     NM_015901      +

In [77]:
uhi_gene.rename(columns={
    'chrom': '#chrom', 'txStart': 'start', 'txEnd': 'end',
    'GeneID': 'gene_id', 'name2': 'symbol', 'name': 'transcript'
}).to_csv(uhi_gene_file, index=False, sep='\t')

In [78]:
!bgzip -cf {uhi_gene_file} > {uhi_gene_file}.gz

In [79]:
!tabix -fp bed {uhi_gene_file}.gz
!rm {uhi_gene_file}

In [80]:
region = pd.read_csv(clingen_region_ori_file, sep='\t', skiprows=5, dtype=str)

In [81]:
region.head()

,#ISCA ID,ISCA Region Name,cytoBand,Genomic Location,Haploinsufficiency Score,Haploinsufficiency Description,Haploinsufficiency PMID1,Haploinsufficiency PMID2,Haploinsufficiency PMID3,Haploinsufficiency PMID4,Haploinsufficiency PMID5,Haploinsufficiency PMID6,Triplosensitivity Score,Triplosensitivity Description,Triplosensitivity PMID1,Triplosensitivity PMID2,Triplosensitivity PMID3,Triplosensitivity PMID4,Triplosensitivity PMID5,Triplosensitivity PMID6,Date Last Evaluated,Loss phenotype OMIM ID,Triplosensitive phenotype OMIM ID
0,ISCA-46739,Yq11.223 population region (DGV_Gold_Standard_...,Yq11.223,chrY:25853189-26146959,40,Dosage sensitivity unlikely,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-03,NaN,NaN
1,ISCA-46738,Yq11.223 population region (DGV_Gold_Standard_...,Yq11.223,chrY:24361866-24465171,40,Dosage sensitivity unlikely,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-03,NaN,NaN
2,ISCA-46737,Xq27.3 population region (DGV_Gold_Standard_Ju...,Xq27.3,chrX:142601775-142800327,40,Dosage sensitivity unlikely,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-03,NaN,NaN
3,ISCA-46736,Xq21.1 population region (DGV_Gold_Standard_Ju...,Xq21.1,chrX:76137628-76141022,40,Dosage sensitivity unlikely,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-03,NaN,NaN
4,ISCA-46735,Xp11.23 population region (DGV_Gold_Standard_J...,Xp11.23,chrX:47880294-47952112,40,Dosage sensitivity unlikely,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-03,NaN,NaN

In [82]:
position = region['Genomic Location'].str.extract(r'(?P<chrom>chr\w+)\s*:\s*(?P<start>\d+)\s*-\s*(?P<end>\d+)')
position['start'] = position['start'].astype(int)
position['end'] = position['end'].astype(int)

In [83]:
position.head()

  chrom      start        end
0  chrY   25853189   26146959
1  chrY   24361866   24465171
2  chrX  142601775  142800327
3  chrX   76137628   76141022
4  chrX   47880294   47952112

In [84]:
region_pos = region.merge(position, how='left', left_index=True, right_index=True)

In [85]:
region_pos.head()

,#ISCA ID,ISCA Region Name,cytoBand,Genomic Location,Haploinsufficiency Score,Haploinsufficiency Description,Haploinsufficiency PMID1,Haploinsufficiency PMID2,Haploinsufficiency PMID3,Haploinsufficiency PMID4,Haploinsufficiency PMID5,Haploinsufficiency PMID6,Triplosensitivity Score,Triplosensitivity Description,Triplosensitivity PMID1,Triplosensitivity PMID2,Triplosensitivity PMID3,Triplosensitivity PMID4,Triplosensitivity PMID5,Triplosensitivity PMID6,Date Last Evaluated,Loss phenotype OMIM ID,Triplosensitive phenotype OMIM ID,chrom,start,end
0,ISCA-46739,Yq11.223 population region (DGV_Gold_Standard_...,Yq11.223,chrY:25853189-26146959,40,Dosage sensitivity unlikely,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-03,NaN,NaN,chrY,25853189,26146959
1,ISCA-46738,Yq11.223 population region (DGV_Gold_Standard_...,Yq11.223,chrY:24361866-24465171,40,Dosage sensitivity unlikely,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-03,NaN,NaN,chrY,24361866,24465171
2,ISCA-46737,Xq27.3 population region (DGV_Gold_Standard_Ju...,Xq27.3,chrX:142601775-142800327,40,Dosage sensitivity unlikely,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-03,NaN,NaN,chrX,142601775,142800327
3,ISCA-46736,Xq21.1 population region (DGV_Gold_Standard_Ju...,Xq21.1,chrX:76137628-76141022,40,Dosage sensitivity unlikely,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-03,NaN,NaN,chrX,76137628,76141022
4,ISCA-46735,Xp11.23 population region (DGV_Gold_Standard_J...,Xp11.23,chrX:47880294-47952112,40,Dosage sensitivity unlikely,NaN,NaN,NaN,NaN,NaN,NaN,0,No evidence available,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-03,NaN,NaN,chrX,47880294,47952112

In [86]:
func_region = region_pos.loc[
    (region_pos['Haploinsufficiency Score'].isin(['1', '2','3']))
     | (region_pos['Triplosensitivity Score'].isin(['1', '2','3'])),
     ['chrom', 'start', 'end', '#ISCA ID', 'ISCA Region Name']
].sort_values(['chrom', 'start', 'end'])

In [87]:
func_region.head()

,chrom,start,end,#ISCA ID,ISCA Region Name
477,chr1,834083,6289973,ISCA-37434,1p36 terminal region (includes GABRD)
483,chr1,145386507,145748064,ISCA-37428,1q21.1 recurrent (TAR syndrome) region (proxim...
486,chr1,146577486,147394506,ISCA-37421,"1q21.1 recurrent region (BP3-BP4, distal) (inc..."
452,chr1,243287730,245318287,ISCA-37493,1q43q44 terminal region (includes AKT3)
485,chr10,81682843,88739388,ISCA-37424,10q22.3q23.2 recurrent region (LCR 3-LCR 4) (I...

In [88]:
func_region.rename(columns={
    'chrom': '#chrom',
    '#ISCA ID': 'isca_id', 'ISCA Region Name': 'name'
}).to_csv(func_region_file, sep='\t', index=False)

In [89]:
!bgzip -cf {func_region_file} > {func_region_file}.gz

In [90]:
!tabix -fp bed {func_region_file}.gz
!rm {func_region_file}

In [91]:
hi_region = region_pos.loc[
    region_pos['Haploinsufficiency Score'] == '3',
    ['chrom', 'start', 'end', '#ISCA ID', 'ISCA Region Name']
].sort_values(['chrom', 'start', 'end'])

In [92]:
hi_region.head()

,chrom,start,end,#ISCA ID,ISCA Region Name
477,chr1,834083,6289973,ISCA-37434,1p36 terminal region (includes GABRD)
486,chr1,146577486,147394506,ISCA-37421,"1q21.1 recurrent region (BP3-BP4, distal) (inc..."
452,chr1,243287730,245318287,ISCA-37493,1q43q44 terminal region (includes AKT3)
485,chr10,81682843,88739388,ISCA-37424,10q22.3q23.2 recurrent region (LCR 3-LCR 4) (I...
497,chr11,31803509,32510988,ISCA-37401,11p13 (WAGR syndrome) region

In [93]:
hi_region['omim_genes'] = hi_region.apply(
    lambda row: ','.join(omim_gene.loc[
        (omim_gene['chrom'] == row['chrom'])
        & (omim_gene['txEnd'] >= row['start'])
        & (omim_gene['txStart'] <= row['end']),
        'name2'
    ]),
    axis=1
)

In [94]:
hi_region.head()

,chrom,start,end,#ISCA ID,ISCA Region Name,omim_genes
477,chr1,834083,6289973,ISCA-37434,1p36 terminal region (includes GABRD),"ISG15,AGRN,TNFRSF4,B3GALT6,DVL1,VWA1,ATAD3A,TM..."
486,chr1,146577486,147394506,ISCA-37421,"1q21.1 recurrent region (BP3-BP4, distal) (inc...","GJA5,GJA8"
452,chr1,243287730,245318287,ISCA-37493,1q43q44 terminal region (includes AKT3),"SDCCAG8,AKT3,ZBTB18,COX20,HNRNPU"
485,chr10,81682843,88739388,ISCA-37424,10q22.3q23.2 recurrent region (LCR 3-LCR 4) (I...,"ANXA11,MAT1A,CDHR1,RGR,LDB3,BMPR1A"
497,chr11,31803509,32510988,ISCA-37401,11p13 (WAGR syndrome) region,"ELP4,PAX6,WT1"

In [95]:
hi_region.rename(columns={
    'chrom': '#chrom',
    '#ISCA ID': 'isca_id', 'ISCA Region Name': 'name'
}).to_csv(hi_region_file, sep='\t', index=False)

In [96]:
!bgzip -cf {hi_region_file} > {hi_region_file}.gz

In [97]:
!tabix -fp bed {hi_region_file}.gz
!rm {hi_region_file}

In [98]:
uhi_region = region_pos.loc[
    region_pos['Haploinsufficiency Score'] == '40',
    ['chrom', 'start', 'end', '#ISCA ID', 'ISCA Region Name']
].sort_values(['chrom', 'start', 'end'])

In [99]:
uhi_region.head()

,chrom,start,end,#ISCA ID,ISCA Region Name
429,chr1,363999,401750,ISCA-46306,1p36.33 population region (gnomAD-SV_v2.1_DEL_...
428,chr1,1640999,1647000,ISCA-46307,1p36.33 population region (gnomAD-SV_v2.1_DEL_...
176,chr1,12886641,12942069,ISCA-46561,1p36.21 population region (DGV_Gold_Standard_J...
426,chr1,12896424,12930275,ISCA-46309,1p36.21 population region (gnomAD-SV_v2.1_DEL_...
175,chr1,12899395,12924283,ISCA-46562,1p36.21 population region (DGV_Gold_Standard_J...

In [100]:
uhi_region['genes'] = uhi_region.apply(
    lambda row: ','.join(gene.loc[
        (gene['chrom'] == row['chrom'])
        & (gene['txEnd'] >= row['start'])
        & (gene['txStart'] <= row['end']),
        'name2'
    ]),
    axis=1
)

In [101]:
uhi_region.head()

,chrom,start,end,#ISCA ID,ISCA Region Name,genes
429,chr1,363999,401750,ISCA-46306,1p36.33 population region (gnomAD-SV_v2.1_DEL_...,OR4F29
428,chr1,1640999,1647000,ISCA-46307,1p36.33 population region (gnomAD-SV_v2.1_DEL_...,"CDK11B,CDK11A"
176,chr1,12886641,12942069,ISCA-46561,1p36.21 population region (DGV_Gold_Standard_J...,"PRAMEF11,HNRNPCL1,PRAMEF2,PRAMEF4"
426,chr1,12896424,12930275,ISCA-46309,1p36.21 population region (gnomAD-SV_v2.1_DEL_...,"HNRNPCL1,PRAMEF2"
175,chr1,12899395,12924283,ISCA-46562,1p36.21 population region (DGV_Gold_Standard_J...,"HNRNPCL1,PRAMEF2"

In [102]:
uhi_region.rename(columns={
    'chrom': '#chrom',
    '#ISCA ID': 'isca_id', 'ISCA Region Name': 'name'
}).to_csv(uhi_region_file, sep='\t', index=False)

In [103]:
!bgzip -cf {uhi_region_file} > {uhi_region_file}.gz

In [104]:
!tabix -fp bed {uhi_region_file}.gz
!rm {uhi_region_file}

In [105]:
decipher = pd.read_csv(hi_pred_ori_file, sep='\t',skiprows=1, header=None, usecols=[3,])
decipher = decipher[3].str.split('|', expand=True).rename(columns={0: 'symbol', 1: 'hi_score', 2: 'hi_index'})
decipher['hi_index'] = decipher['hi_index'].str.replace('%', '').astype(float)
decipher = decipher.merge(gene, left_on='symbol', right_on='name2')

In [106]:
decipher.head()

,symbol,hi_score,hi_index,chrom,txStart,txEnd,GeneID,name2,name,strand
0,ANXA2R,0.000047349,100.00,chr5,43039472,43043349,389289,ANXA2R,NM_001382352,-
1,SCGB1D1,0.000054551,99.99,chr11,61957687,61961011,10648,SCGB1D1,NM_006552,+
2,IL31,0.000057228,99.99,chr12,122656575,122658768,386653,IL31,NM_001014336,-
3,BPIFA2,0.000061264,99.98,chr20,31749575,31769218,140683,BPIFA2,NM_001319164,+
4,MUCL1,0.000067779,99.98,chr12,55248299,55252171,118430,MUCL1,NM_058173,+

In [107]:
gnomad = pd.read_csv(gnomad_lof_ori_file, sep='\t', index_col=0, compression='gzip')

In [108]:
gnomad.head()

,transcript,obs_mis,exp_mis,oe_mis,mu_mis,possible_mis,obs_mis_pphen,exp_mis_pphen,oe_mis_pphen,possible_mis_pphen,obs_syn,exp_syn,oe_syn,mu_syn,possible_syn,obs_lof,mu_lof,possible_lof,exp_lof,pLI,pNull,pRec,oe_lof,oe_syn_lower,oe_syn_upper,oe_mis_lower,oe_mis_upper,oe_lof_lower,oe_lof_upper,constraint_flag,syn_z,mis_z,lof_z,oe_lof_upper_rank,oe_lof_upper_bin,oe_lof_upper_bin_6,n_sites,classic_caf,max_af,no_lofs,obs_het_lof,obs_hom_lof,defined,p,exp_hom_lof,classic_caf_afr,classic_caf_amr,classic_caf_asj,classic_caf_eas,classic_caf_fin,classic_caf_nfe,classic_caf_oth,classic_caf_sas,p_afr,p_amr,p_asj,p_eas,p_fin,p_nfe,p_oth,p_sas,transcript_type,gene_id,transcript_level,cds_length,num_coding_exons,gene_type,gene_length,exac_pLI,exac_obs_lof,exac_exp_lof,exac_oe_lof,brain_expression,chromosome,start_position,end_position
gene,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
MED13,ENST00000397786,871,1117.80,0.77921,0.000056,14195,314.0,529.75,0.59273,6708.0,422,387.53,1.0890,0.000019,4248,0.0,0.000005,1257.0,98.429,1.0,8.943600e-40,1.838300e-16,0.000000,1.005,1.180,0.736,0.824,0.000,0.030,NaN,-1.376500,2.6232,9.1935,0.0,0.0,0.0,2.0,0.000012,0.000008,124782.0,3.0,0.0,124785.0,0.000012,0.000018,0.000000,0.000000,0.000000,0.000000,0.000093,0.000009,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000093,0.000009,0.0,0.000000,protein_coding,ENSG00000108510,2,6522,30,protein_coding,122678,1.0,0.0,64.393,0.000000,NaN,17,60019966,60142643
NIPBL,ENST00000282516,846,1441.50,0.58688,0.000074,18540,158.0,543.10,0.29092,7135.0,496,495.01,1.0020,0.000025,5211,1.0,0.000009,1781.0,150.320,1.0,2.977300e-59,3.572400e-24,0.006653,0.930,1.079,0.554,0.621,0.001,0.032,NaN,-0.035119,5.5737,11.2860,1.0,0.0,0.0,2.0,0.000012,0.000008,125693.0,3.0,0.0,125696.0,0.000012,0.000018,0.000000,0.000000,0.000099,0.000000,0.000000,0.000000,0.0,0.000065,0.000000,0.000000,0.000099,0.000000,0.000000,0.000000,0.0,0.000065,protein_coding,ENSG00000164190,2,8412,46,protein_coding,189655,1.0,1.0,110.570,0.009044,NaN,5,36876861,37066515
SMC3,ENST00000361804,178,630.07,0.28251,0.000032,8109,21.0,182.52,0.11506,2197.0,215,203.25,1.0578,0.000010,2091,0.0,0.000005,937.0,79.490,1.0,2.785300e-32,2.191400e-13,0.000000,0.946,1.184,0.249,0.320,0.000,0.037,NaN,-0.647760,6.3999,8.2618,2.0,0.0,0.0,8.0,0.000032,0.000004,125731.0,8.0,0.0,125739.0,0.000032,0.000127,0.000000,0.000000,0.000099,0.000054,0.000000,0.000044,0.0,0.000033,0.000000,0.000000,0.000099,0.000054,0.000000,0.000044,0.0,0.000033,protein_coding,ENSG00000108055,2,3651,29,protein_coding,36946,1.0,0.0,58.523,0.000000,NaN,10,112327449,112364394
CNOT1,ENST00000317147,561,1295.90,0.43290,0.000069,15670,51.0,290.68,0.17545,3560.0,470,456.03,1.0306,0.000024,4564,1.0,0.000007,1440.0,125.030,1.0,2.992400e-49,4.562900e-20,0.007998,0.955,1.112,0.403,0.464,0.002,0.038,NaN,-0.514100,7.2546,10.2790,3.0,0.0,0.0,5.0,0.000020,0.000004,125740.0,4.0,0.0,125744.0,0.000016,0.000032,0.000000,0.000029,0.000000,0.000055,0.000000,0.000026,0.0,0.000000,0.000000,0.000029,0.000000,0.000054,0.000000,0.000018,0.0,0.000000,protein_coding,ENSG00000125107,2,7128,48,protein_coding,109936,1.0,3.0,90.130,0.033285,NaN,16,58553855,58663790
RLF,ENST00000372771,669,972.87,0.68766,0.000047,12682,107.0,321.14,0.33319,4151.0,358,352.62,1.0153,0.000017,3482,0.0,0.000004,1024.0,73.222,1.0,8.405500e-30,2.284200e-12,0.000000,0.930,1.108,0.645,0.733,0.000,0.040,NaN,-0.225180,3.4620,7.9294,4.0,0.0,0.0,1.0,0.000004,0.000004,125122.0,1.0,0.0,125123.0,0.000004,0.000002,0.000062,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000062,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,protein_coding,ENSG00000117000,2,5742,8,protein_coding,79549,1.0,0.0,43.607,0.000000,NaN,1,40627045,40706593

In [109]:
decipher = decipher.join(gnomad['pLI'], on='name2')
decipher = decipher.join(gnomad['oe_lof_upper'], on='name2')

In [110]:
decipher.head()

,symbol,hi_score,hi_index,chrom,txStart,txEnd,GeneID,name2,name,strand,pLI,oe_lof_upper
0,ANXA2R,0.000047349,100.00,chr5,43039472,43043349,389289,ANXA2R,NM_001382352,-,NaN,NaN
1,SCGB1D1,0.000054551,99.99,chr11,61957687,61961011,10648,SCGB1D1,NM_006552,+,1.294000e-07,1.968
2,IL31,0.000057228,99.99,chr12,122656575,122658768,386653,IL31,NM_001014336,-,1.144500e-02,1.715
3,BPIFA2,0.000061264,99.98,chr20,31749575,31769218,140683,BPIFA2,NM_001319164,+,8.012400e-07,1.495
4,MUCL1,0.000067779,99.98,chr12,55248299,55252171,118430,MUCL1,NM_058173,+,3.092300e-05,1.908

In [111]:
decipher = decipher.loc[
    (decipher['pLI'] >= 0.9) & (decipher['hi_index'] < 10) & (decipher['oe_lof_upper'] < 0.35),
    ['chrom', 'txStart', 'txEnd', 'GeneID', 'name2', 'name', 'pLI', 'hi_score']
].sort_values(['chrom', 'txStart', 'txEnd'])

In [112]:
decipher.head()

,chrom,txStart,txEnd,GeneID,name2,name,pLI,hi_score
17510,chr1,6845513,7829766,23261,CAMTA1,NM_001349609,1.00000,0.951338773
17568,chr1,8412463,8877699,473,RERE,NM_001042681,1.00000,0.962236687
17640,chr1,9751524,9788980,5293,PIK3CD,NM_001350235,0.99999,0.977549203
16383,chr1,10270763,10441661,23095,KIF1B,NM_015074,1.00000,0.70541308
17817,chr1,11166591,11322608,2475,MTOR,NM_004958,1.00000,0.997612705

In [113]:
decipher.rename(columns={
    'chrom': '#chrom', 'txStart': 'start', 'txEnd': 'end',
    'GeneID': 'gene_id', 'name2': 'symbol', 'name': 'transcript'
}).to_csv(decipher_gene_file, sep='\t', index=False)

In [114]:
!bgzip -cf {decipher_gene_file} > {decipher_gene_file}.gz

In [115]:
!tabix -fp bed {decipher_gene_file}.gz
!rm {decipher_gene_file}

In [116]:
ts_genes = set(
    curation_gene.loc[
        curation_gene['Triplosensitivity Score'] == '3', '#Gene Symbol'
    ]
)

In [117]:
ts_gene = refgene_info.loc[
    refgene_info['name2'].isin(ts_genes),
    ['chrom', 'txStart', 'txEnd', 'GeneID', 'name2', 'name', 'strand']
].sort_values(['chrom', 'txStart', 'txEnd'])

In [118]:
ts_gene.head()

      chrom    txStart      txEnd  GeneID  name2          name strand
4352   chr5  126112827  126172712    4001  LMNB1     NM_005573      +
10862  chrX  103031780  103047547    5354   PLP1  NM_001305004      +

In [119]:
ts_gene.rename(columns={
    'chrom': '#chrom', 'txStart': 'start', 'txEnd': 'end',
    'GeneID': 'gene_id', 'name2': 'symbol', 'name': 'transcript'
}).to_csv(ts_gene_file, index=False, sep='\t')

In [120]:
!bgzip -cf {ts_gene_file} > {ts_gene_file}.gz

In [121]:
!tabix -fp bed {ts_gene_file}.gz
!rm {ts_gene_file}

In [122]:
uts_genes = set(
    curation_gene.loc[curation_gene['Triplosensitivity Score'] == '40', '#Gene Symbol']
)

In [123]:
uts_gene = refgene_info.loc[
    refgene_info['name2'].isin(uts_genes),
    ['chrom', 'txStart', 'txEnd', 'GeneID', 'name2', 'name', 'strand']
].sort_values(['chrom', 'txStart', 'txEnd'])

In [124]:
uts_gene.head()

      chrom  txStart    txEnd  GeneID  name2       name strand
18575  chrX  6451658  6453159   51481  VCX3A  NM_016379      -

In [125]:
uts_gene.rename(columns={
    'chrom': '#chrom', 'txStart': 'start', 'txEnd': 'end',
    'GeneID': 'gene_id', 'name2': 'symbol', 'name': 'transcript'
}).to_csv(uts_gene_file, index=False, sep='\t')

In [126]:
!bgzip -cf {uts_gene_file} > {uts_gene_file}.gz

In [127]:
!tabix -fp bed {uts_gene_file}.gz
!rm {uts_gene_file}

In [128]:
ts_region = region_pos.loc[
    region_pos['Triplosensitivity Score'] == '3',
    ['chrom', 'start', 'end', '#ISCA ID', 'ISCA Region Name']
].sort_values(['chrom', 'start', 'end'])

In [129]:
ts_region.head()

,chrom,start,end,#ISCA ID,ISCA Region Name
486,chr1,146577486,147394506,ISCA-37421,"1q21.1 recurrent region (BP3-BP4, distal) (inc..."
496,chr15,22832519,28379874,ISCA-37404,"15q11.2q13 recurrent (PWS/AS) region (Class 1,..."
457,chr15,23747996,28379874,ISCA-37478,"15q11.2q13 recurrent (PWS/AS) region (Class 2,..."
498,chr16,29649997,30199852,ISCA-37400,"16p11.2 recurrent region (proximal, BP4-BP5) (..."
481,chr17,1247833,2588909,ISCA-37430,17p13.3 (Miller-Dieker syndrome) region (inclu...

In [130]:
ts_region['omim_genes'] = ts_region.apply(
    lambda row: ','.join(omim_gene.loc[
        (omim_gene['chrom'] == row['chrom'])
        & (omim_gene['txEnd'] >= row['start'])
        & (omim_gene['txStart'] <= row['end']),
        'name2'
    ]),
    axis=1
)

In [131]:
ts_region.head()

,chrom,start,end,#ISCA ID,ISCA Region Name,omim_genes
486,chr1,146577486,147394506,ISCA-37421,"1q21.1 recurrent region (BP3-BP4, distal) (inc...","GJA5,GJA8"
496,chr15,22832519,28379874,ISCA-37404,"15q11.2q13 recurrent (PWS/AS) region (Class 1,...","NIPA1,MKRN3,MAGEL2,NDN,SNRPN,UBE3A,GABRB3,GABR..."
457,chr15,23747996,28379874,ISCA-37478,"15q11.2q13 recurrent (PWS/AS) region (Class 2,...","MKRN3,MAGEL2,NDN,SNRPN,UBE3A,GABRB3,GABRA5,OCA..."
498,chr16,29649997,30199852,ISCA-37400,"16p11.2 recurrent region (proximal, BP4-BP5) (...","KIF22,PRRT2,ALDOA,TBX6,CORO1A"
481,chr17,1247833,2588909,ISCA-37430,17p13.3 (Miller-Dieker syndrome) region (inclu...,"INPP5K,PRPF8,WDR81,SERPINF2,SERPINF1,DPH1,PAFA..."

In [132]:
ts_region.rename(columns={
    'chrom': '#chrom',
    '#ISCA ID': 'isca_id', 'ISCA Region Name': 'name'
}).to_csv(ts_region_file, sep='\t', index=False)

In [133]:
!bgzip -cf {ts_region_file} > {ts_region_file}.gz

In [134]:
!tabix -fp bed {ts_region_file}.gz
!rm {ts_region_file}

In [135]:
uts_region = region_pos.loc[
    region_pos['Triplosensitivity Score'] == '40',
    ['chrom', 'start', 'end', '#ISCA ID', 'ISCA Region Name']
].sort_values(['chrom', 'start', 'end'])

In [136]:
uts_region.head()

,chrom,start,end,#ISCA ID,ISCA Region Name
181,chr1,713039,756009,ISCA-46556,1p36.33 population region (DGV_Gold_Standard_J...
182,chr1,713039,756009,ISCA-46554,1p36.33 population region ((DGV_Gold_Standard_...
427,chr1,12894999,12940000,ISCA-46308,1p36.21 population region (gnomAD-SV_v2.1_DUP_...
180,chr1,12897609,12922238,ISCA-46557,1p36.21 population region (DGV_Gold_Standard_J...
414,chr1,104190999,104303200,ISCA-46321,1p21.1 population region (gnomAD-SV_v2.1_DUP_1...

In [137]:
uts_region['genes'] = uts_region.apply(
    lambda row: ','.join(gene.loc[
        (gene['chrom'] == row['chrom'])
        & (gene['txEnd'] >= row['start'])
        & (gene['txStart'] <= row['end']),
        'name2'
    ]),
    axis=1
)

In [138]:
uts_region.head()

,chrom,start,end,#ISCA ID,ISCA Region Name,genes
181,chr1,713039,756009,ISCA-46556,1p36.33 population region (DGV_Gold_Standard_J...,
182,chr1,713039,756009,ISCA-46554,1p36.33 population region ((DGV_Gold_Standard_...,
427,chr1,12894999,12940000,ISCA-46308,1p36.21 population region (gnomAD-SV_v2.1_DUP_...,"HNRNPCL1,PRAMEF2,PRAMEF4"
180,chr1,12897609,12922238,ISCA-46557,1p36.21 population region (DGV_Gold_Standard_J...,"HNRNPCL1,PRAMEF2"
414,chr1,104190999,104303200,ISCA-46321,1p21.1 population region (gnomAD-SV_v2.1_DUP_1...,"AMY1C,AMY1A,AMY1B"

In [139]:
uts_region.rename(columns={
    'chrom': '#chrom',
    '#ISCA ID': 'isca_id', 'ISCA Region Name': 'name'
}).to_csv(uts_region_file, sep='\t', index=False)

In [140]:
!bgzip -cf {uts_region_file} > {uts_region_file}.gz

In [141]:
!tabix -fp bed {uts_region_file}.gz
!rm {uts_region_file}

In [142]:
dgv = pd.read_csv(
    dgv_ori_file,
    sep='\t', names=['chrom', 'info'], usecols=[0, 8]
).drop_duplicates('info')
info = dgv['info'].str.extract(
    r'ID=(?P<id>[^;]+).*variant_sub_type=(?P<type>[^;]+).*inner_start=(?P<start>[^;]+).*inner_end=(?P<end>[^;]+).*Frequency=(?P<freq>\S+?)%;.*num_unique_samples_tested=(?P<sample>[^;]+)'
).astype({'start': int, 'end': int, 'sample': int, 'freq': float})
dgv = dgv.merge(info, left_index=True, right_index=True)
dgv['af'] = dgv['freq'] / 100
dgv = dgv[dgv['sample'] >= 1000].sort_values(['chrom', 'start', 'end'])

In [143]:
dgv.head()

,chrom,info,id,type,start,end,freq,sample,af
12,chr1,ID=gssvG9;Name=gssvG9;variant_type=CNV;variant...,gssvG9,Gain,49911,222421,1.13,1149,0.0113
54,chr1,ID=gssvG28;Name=gssvG28;variant_type=CNV;varia...,gssvG28,Gain,60905,97505,0.61,2609,0.0061
18651,chr1,ID=gssvL18;Name=gssvL18;variant_type=CNV;varia...,gssvL18,Loss,60905,97505,0.61,2609,0.0061
18627,chr1,ID=gssvL4;Name=gssvL4;variant_type=CNV;variant...,gssvL4,Loss,61724,346583,0.30,12364,0.0030
48,chr1,ID=gssvG24;Name=gssvG24;variant_type=CNV;varia...,gssvG24,Gain,125400,176984,0.73,1510,0.0073

In [144]:
def fetch_gene(gene, chrom, start, end):
    return ','.join(gene.loc[
        (gene['chrom'] == chrom) & (gene['txEnd'] >= start) & (gene['txStart'] <= end), 'name2'
    ])

In [145]:
with Pool(processes=7) as pool:
    dgv['genes'] = pool.starmap(fetch_gene, (
        (gene, row['chrom'], row['start'], row['end']) for _, row in dgv.iterrows()
    ), chunksize=70)

In [146]:
dgv.head()

,chrom,info,id,type,start,end,freq,sample,af,genes
12,chr1,ID=gssvG9;Name=gssvG9;variant_type=CNV;variant...,gssvG9,Gain,49911,222421,1.13,1149,0.0113,OR4F5
54,chr1,ID=gssvG28;Name=gssvG28;variant_type=CNV;varia...,gssvG28,Gain,60905,97505,0.61,2609,0.0061,OR4F5
18651,chr1,ID=gssvL18;Name=gssvL18;variant_type=CNV;varia...,gssvL18,Loss,60905,97505,0.61,2609,0.0061,OR4F5
18627,chr1,ID=gssvL4;Name=gssvL4;variant_type=CNV;variant...,gssvL4,Loss,61724,346583,0.30,12364,0.0030,OR4F5
48,chr1,ID=gssvG24;Name=gssvG24;variant_type=CNV;varia...,gssvG24,Gain,125400,176984,0.73,1510,0.0073,

In [147]:
dgv.loc[
    dgv['type'] == 'Gain', ['chrom', 'start', 'end', 'id', 'genes', 'af']
].rename(columns={'chrom': '#chrom'}).to_csv(dgv_gain_file, sep='\t', index=False)

In [148]:
!bgzip -cf {dgv_gain_file} > {dgv_gain_file}.gz

In [149]:
!tabix -fp bed {dgv_gain_file}.gz
!rm {dgv_gain_file}

In [150]:
dgv.loc[
    dgv['type'] == 'Loss', ['chrom', 'start', 'end', 'id', 'genes', 'af']
].rename(columns={'chrom': '#chrom'}).to_csv(dgv_loss_file, sep='\t', index=False)

In [151]:
!bgzip -cf {dgv_loss_file} > {dgv_loss_file}.gz

In [152]:
!tabix -fp bed {dgv_loss_file}.gz
!rm {dgv_loss_file}

In [153]:
gnomad = pd.read_csv(
    gnomad_control_ori_file, sep='\t',  dtype=str,
    usecols=[0, 1, 2, 3, 4, 37, 38, 73, 74, 107, 108, 141, 142, 175, 176, 241]
)
gnomad = gnomad[
    (gnomad['FILTER'] == 'PASS') & gnomad['svtype'].isin(['DEL', 'DUP'])
]
gnomad = gnomad[
    (gnomad['N_BI_GENOS'].astype(int) >= 1000) |
    (gnomad['AFR_N_BI_GENOS'].astype(int) >= 1000) |
    (gnomad['AMR_N_BI_GENOS'].astype(int) >= 1000) |
    (gnomad['EAS_N_BI_GENOS'].astype(int) >= 1000) |
    (gnomad['EUR_N_BI_GENOS'].astype(int) >= 1000)
]
gnomad['#chrom'] = 'chr' + gnomad['#chrom']
gnomad['start'] = gnomad['start'].astype(int)
gnomad['end'] = gnomad['end'].astype(int)

In [154]:
gnomad.head()

,#chrom,start,end,name,svtype,AF,N_BI_GENOS,AFR_AF,AFR_N_BI_GENOS,AMR_AF,AMR_N_BI_GENOS,EAS_AF,EAS_N_BI_GENOS,EUR_AF,EUR_N_BI_GENOS,FILTER
6,chr1,62398,62489,gnomAD-SV_v2.1_DEL_1_3,DEL,9.600000339560211e-05,5192,0.0,2014,0.0,609,0.0005840000230818987,856,0.0,1660,PASS
7,chr1,66349,66427,gnomAD-SV_v2.1_DEL_1_4,DEL,0.0004830000107176602,5177,0.0,2009,0.0024709999561309814,607,0.0,856,0.0006050000083632767,1652,PASS
15,chr1,136999,155500,gnomAD-SV_v2.1_DUP_1_3,DUP,0.138032004237175,5122,0.10211800038814545,1983,0.1157890036702156,570,0.3907710015773773,856,0.05963899940252304,1660,PASS
16,chr1,141474,155000,gnomAD-SV_v2.1_DUP_1_4,DUP,0.006382000166922808,4544,0.01448499970138073,1864,0.0,503,0.001905999961309135,787,0.00037200000951997936,1343,PASS
24,chr1,319999,327650,gnomAD-SV_v2.1_DEL_1_9,DEL,0.1377120018005371,5192,0.29294899106025696,2014,0.020524999126791954,609,0.08235999941825867,856,0.022590000182390213,1660,PASS

In [155]:
with Pool(processes=30) as pool:
    gnomad['genes'] = pool.starmap(fetch_gene, (
        (gene, row['#chrom'], row['start'], row['end']) for _, row in gnomad.iterrows()
    ), chunksize=70)

In [156]:
# gnomad['genes'] = pool.starmap(fetch_gene, (
#         (gene, row['#chrom'], row['start'], row['end']) for _, row in gnomad.iterrows()
#     ), chunksize=70)
gnomad['gene'] = gnomad.apply(lambda row: fetch_gene(gene, row['#chrom'], row['start'], row['end']), axis=1)

In [157]:
gnomad.head()

,#chrom,start,end,name,svtype,AF,N_BI_GENOS,AFR_AF,AFR_N_BI_GENOS,AMR_AF,AMR_N_BI_GENOS,EAS_AF,EAS_N_BI_GENOS,EUR_AF,EUR_N_BI_GENOS,FILTER,genes,gene
6,chr1,62398,62489,gnomAD-SV_v2.1_DEL_1_3,DEL,9.600000339560211e-05,5192,0.0,2014,0.0,609,0.0005840000230818987,856,0.0,1660,PASS,,
7,chr1,66349,66427,gnomAD-SV_v2.1_DEL_1_4,DEL,0.0004830000107176602,5177,0.0,2009,0.0024709999561309814,607,0.0,856,0.0006050000083632767,1652,PASS,,
15,chr1,136999,155500,gnomAD-SV_v2.1_DUP_1_3,DUP,0.138032004237175,5122,0.10211800038814545,1983,0.1157890036702156,570,0.3907710015773773,856,0.05963899940252304,1660,PASS,,
16,chr1,141474,155000,gnomAD-SV_v2.1_DUP_1_4,DUP,0.006382000166922808,4544,0.01448499970138073,1864,0.0,503,0.001905999961309135,787,0.00037200000951997936,1343,PASS,,
24,chr1,319999,327650,gnomAD-SV_v2.1_DEL_1_9,DEL,0.1377120018005371,5192,0.29294899106025696,2014,0.020524999126791954,609,0.08235999941825867,856,0.022590000182390213,1660,PASS,,

In [158]:
gnomad[
    gnomad['svtype'] == 'DEL'
][['#chrom', 'start', 'end', 'name', 'genes', 'AF', 'AFR_AF', 'AMR_AF', 'EAS_AF', 'EUR_AF']].rename(columns={
    'AF': 'af', 'AFR_AF': 'af_afr', 'AMR_AF': 'af_amr', 'EAS_AF': 'af_eas', 'EUR_AF': 'af_eur'
}).to_csv(gnomad_del_file, sep='\t', index=False)

In [159]:
!bgzip -cf {gnomad_del_file} > {gnomad_del_file}.gz

In [160]:
!tabix -fp bed {gnomad_del_file}.gz
!rm {gnomad_del_file}

In [161]:
gnomad.loc[
    gnomad['svtype'] == 'DUP',
    ['#chrom', 'start', 'end', 'name', 'genes', 'AF', 'AFR_AF', 'AMR_AF', 'EAS_AF', 'EUR_AF']
].rename(columns={
    'AF': 'af', 'AFR_AF': 'af_afr', 'AMR_AF': 'af_amr', 'EAS_AF': 'af_eas', 'EUR_AF': 'af_eur'
}).to_csv(gnomad_dup_file, sep='\t', index=False)

In [162]:
!bgzip -cf {gnomad_dup_file} > {gnomad_dup_file}.gz

In [163]:
!tabix -fp bed {gnomad_dup_file}.gz
!rm {gnomad_dup_file}

In [ ]:
refGene_df = read_gtf(exon_ori_file)
refGene_df = refGene_df[refGene_df['feature'] == 'exon']
gene_db = pd.read_csv(settings.GENE_DATABASE, sep='\t')
merge_df = gene_db.merge(refGene_df, left_on='transcript', right_on='transcript_id')[[
    '#chrom', 'start_y', 'end_y', 'gene_id_x', 'symbol', 'exon_number', 'transcript'
]]
merge_df.columns = [x.strip('_x').strip('_y') for x in merge_df.columns]

merge_df.to_csv(settings.GENE_EXON_DATABASE.strip('.gz'), sep='\t', index=False)

In [ ]:
!bgzip -cf {settings.GENE_EXON_DATABASE.strip('.gz')} > settings.GENE_EXON_DATABASE
!tabix -fp bed {settings.GENE_EXON_DATABASE}
!rm {settings.GENE_EXON_DATABASE.strip('.gz')}